@import url('./_indents/photo-grid_indents.css');
@import url('./__item/photo-grid__item.css');

.photo-grid {
	max-width: 1184px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 17px 16px;
	font-family: 'Inter', Arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

@media (max-width : 1279px) {
	.photo-grid {
		width: calc(100% - 96px);
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 14px 14px;
	}
}

@media (max-width : 1023px) {
	.photo-grid {
		width: calc(100% - 48px);
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px 16px;
	}
}

@media (max-width : 767px) {
	.photo-grid {
		grid-row-gap: 16px;
		width: calc(100% - 8.5vw);
		grid-template-columns: 1fr;
	}
}

@media (max-width : 374px) {
	.photo-grid {
		grid-row-gap: 8px;
	}
}