.footer__copyright {
	color: #ffffff;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	width: 282px;
	margin: 1px 0 0;
	margin-left: auto;
}

@media (max-width : 767px) {
	.footer__copyright {
		width: 100%;
		margin: 0;
		text-align: start;
	}
}